<div class="container-fluid d-flex justify-content-center align-items-center carouselBox " *ngIf="showCarusel">
  <div *ngIf="myGroup">
    <carousel [itemsPerSlide]="itemsPerSlide" [showIndicators]="showIndicators" [singleSlideOffset]="singleSlideOffset"
      [noWrap]="noWrap" [interval]="false" [startFromIndex]="0" [formGroup]="myGroup">
      <div formArrayName="formArray" *ngFor="let dayForm of arrayForm.controls; let index = index">
        <slide class=" m-1 carousel__slide">
          <div [formGroupName]="index">
            <div class="card border-light mb-3 carousel__card">
              <img src="assets/300.png" class="card-img-top p-2" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ weekDays[index] }}</h5>
                <p class="card-text text-success">
                  {{ dayForm.value.date | date }}
                </p>
                <div class="form-group d-flex justify-content-between m-2 ">
                  <label class="mx-2">First</label>
                  <input formControlName="first" class="form-control col-3 rounded-pill" type="number">
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="secondOption">
                    <option *ngFor="let option of foodOptionFirst">{{option}}</option>
                  </select>
                </div>

                <div class="form-group d-flex justify-content-between m-2 ">
                  <label class="mx-2">Second</label>
                  <input class="form-control col-3 rounded-pill" type="number" formControlName="second">
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="secondOption">
                    <option *ngFor="let option of foodOptionSecond">{{option}}</option>
                  </select>
                </div>

                <button type="button" class="btn btn-lg btn-success rounded-pill m-3" (click)="food(index)">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </slide>
      </div>
    </carousel>
  </div>
</div>