<div
  class="container-fluid d-flex justify-content-center align-items-center carouselBox "
  *ngIf="showCarusel"
>
  <div *ngIf="myGroup">
    <carousel
      [itemsPerSlide]="itemsPerSlide"
      [showIndicators]="showIndicators"
      [singleSlideOffset]="singleSlideOffset"
      [noWrap]="noWrap"
      [interval]="false"
      [startFromIndex]="0"
      [formGroup]="myGroup"
    >
      <div
        formArrayName="formArray"
        *ngFor="let day of arrayForm.controls; let i = index"
      >
        <div>
          <slide class=" m-1 carousel__slide">
            <div [formGroupName]="i">
              <div
                class="card  border-light mb-3 carousel__card"
                style="width: 18rem;"
              >
                <img
                  src="../../../assets/300.png"
                  class="card-img-top p-2"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">{{ daysArray[i] }}</h5>
                  <p class="card-text text-success">
                    {{ day.value.date | date: mediumDate }}
                  </p>

                  <div class="form-group d-flex justify-content-between m-2 ">
                    <label class="mx-2">First</label>
                    <input
                      formControlName="first"
                      class="form-control col-3  rounded-pill"
                      type="number"
                    />
                  </div>

                  <div class="form-group d-flex justify-content-between m-2 ">
                    <label class="mx-2">Second</label>
                    <input
                      class="form-control col-3 rounded-pill"
                      type="number"
                      formControlName="second"
                    />
                  </div>
                  <button
                    type="button"
                    class="btn btn-lg btn-success rounded-pill m-3"
                    (click)="food(i)"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </slide>
        </div>
      </div>
    </carousel>
  </div>
</div>
